<div class="container">
  <div class="totalCadastrados">
    <div class="usuarioBorda">
      <h2>Total de usuários cadastrados</h2>
      <p class="number totalNumber">3</p>
    </div>
  </div>
  <div class="totalCadastradoFuncao">
    <h2>Total de usuários cadastrados por função</h2>
    <div class="engenheiroDeFe">
      <p>Engenheiro de FE</p>
      <p class="number">0</p>
    </div>
    <div class="engenheiroDeBe">
      <p>Engenheiro de BE</p>
      <p class="number">1</p>
    </div>
    <div class="analistaDeDados">
      <p>Analista de Dados</p>
      <p class="number">1</p>
    </div>
    <div class="liderTecnico">
      <p>Lider Técnico</p>
      <p class="number">1</p>
    </div>
  </div>
</div>