body {
  background-color: #f0f0f0; /* Cor de fundo da página */
}

.container {
  display: flex;
}

.totalCadastrados, .totalCadastradoFuncao {
  flex: 1;
  background-color: #212529; /* Cor de fundo das caixas */
  border-radius: 10px; /* Cantos arredondados nas caixas */
  padding: 20px;
  margin-right: 20px; /* Espaçamento entre as caixas */
  color:#f0f0f0;
  display: inline-block;
  flex-grow: 1;
  height: 450px;
  margin-top: 30px;
}

.totalCadastradoFuncao div {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 12px;
}

.container {
  display: flex;
  vertical-align: middle;
  padding: 50px;
}

.totalCadastradoFuncao .number {
  flex-basis: 40px;
  text-align: center;
}

div{
  text-align: center;
  align-content: center;
  justify-content: center;
}

.totalCadastrados h2, .totalCadastradoFuncao h2, .totalCadastrados h3, .totalCadastradoFuncao h3 {
  margin: 0;
  color:#f0f0f0
}

p{
  font-size: 25px;
}

.totalNumber{
  font-size: 80px;
}

.usuarioBorda{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 100px;
}